.Navbar {
    background-color: aqua;
    background-image: url("https://i.pinimg.com/originals/45/dd/d5/45ddd55445d146ac7b253397b8b6e303.png");
    margin: 0;
    background-size: contain;
    min-height: 1.3em;
}

.logo {
    margin: 0;
}